/**
 * @link              http://averta.net
 * @since             1.0.0
 * @package           Wp Login Form
 */

@font-face {
  font-family: 'fontello';
  src: url('.././font/fontello.eot?48179047');
  src: url('.././font/fontello.eot?48179047#iefix') format('embedded-opentype'),
       url('.././font/fontello.woff?48179047') format('woff'),
       url('.././font/fontello.ttf?48179047') format('truetype'),
       url('.././font/fontello.svg?48179047#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}

body{

}

/**video background started here*/
video#avlo_vid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover; 
}

video#avlo_vid {
    transition: 1s opacity;
}
.stopfade { opacity: .5; }

/** fontello icons css from here*/
.the-icons {
  font-size: 14px;
  line-height: 24px;
}
.span3 {
  width: 20px;
}

.demo-icon
{
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  opacity: .8;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.codesOn .i-code {
    display: inline;
}
.i-code {
  display: none;
}

ul#avlo_social{
  text-align: center;
  list-style-type: none;
  white-space:nowrap;
  bottom: 90px;
  width: 100%;
  position: absolute;
  padding-left: 0px;
}

ul#avlo_social li{
  display: inline-block;
  position: relative;
  color: white ;
}

/*****************Style 1/*****************/
body.style1{
  background-color: #f1f1f1;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  min-width: 0;
}

body.style1 form#loginform{
  padding: 30px 25px 50px 25px;
  background-color: #ffffff;
  border: solid 1px #e6e6e6;
  border-radius: 0px;
}

body.style1 #login h1 {
  text-align: center;
}

body.style1 #login h1 a {
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 84px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.style1 #loginform p:nth-child(1), .style1 #loginform p:nth-child(2){
 font-size: 14px;
 font-family: "Open Sans",sans-serif;
 font-weight: bold;
}

.style1 #loginform .input{
  height: 40px;
  width: 270px;
  border: 1px solid #e6e6e6;
}

.style1 #loginform .forgetmenot{
  display: inline-block;

}
.style1 #loginform .submit{
  display: inline-block;
  padding-top: 15px;
  float: right;
}

.style1 #loginform .forgetmenot label{
  color: #aeaeae;
}

.style1 #loginform #wp-submit{
    background-color: #0077a4;
    padding: 9px 20px 9px 20px;
    color:#d1dadf;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.style1 #login #nav a, body.style1 #login #backtoblog a{
  color: #bdbdbd;
  margin-left: 25px;
}

/*****************Style 2/*****************/
body.style2{
  background-color: #ffffff;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  min-width: 0;
}

body.style2 form#loginform{
  padding: 30px 25px 50px 25px;
  background-color: #f1f1f1;
  border: solid 1px #e6e6e6;
  border-radius: 0px;
}

body.style2 #login h1 {
  text-align: center;
}

body.style2 #login h1 a {
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 84px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.style2 #loginform p:nth-child(1), .style2 #loginform p:nth-child(2){
 font-size: 14px;
 font-family: "Open Sans",sans-serif;
 font-weight: bold;
}

.style2 #loginform .input{
  height: 40px;
  width: 270px;
  border: 1px solid #e6e6e6;
}

.style2 #loginform .forgetmenot{
  display: inline-block;

}
.style2 #loginform .submit{
  display: inline-block;
  padding-top: 15px;
  float: right;
}

.style2 #loginform .forgetmenot label{
  color: #aeaeae;
}

.style2 #loginform #wp-submit{
    background-color: #0077a4;
    padding: 9px 20px 9px 20px;
    color:#d1dadf;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.style2 #login #nav a, body.style2 #login #backtoblog a{
  color: #bdbdbd;
  margin-left: 25px;
}

/*****************Style 3/*****************/
body.style3{
  background-color: #ffffff;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  min-width: 0;
}

body.style3 form#loginform{
  padding: 30px 25px 50px 25px;
  background-color: #ffffff;
  border: none;
  border-radius: 0px;
}

body.style3 #login h1 {
  text-align: center;
}

body.style3 #login h1 a {
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 84px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.style3 #loginform p:nth-child(1), .style3 #loginform p:nth-child(2){
 font-size: 14px;
 font-family: "Open Sans",sans-serif;
 font-weight: bold;
}

.style3 #loginform .input{
  height: 40px;
  width: 270px;
  border: 1px solid #e6e6e6;
}

.style3 #loginform .forgetmenot{
  display: inline-block;

}
.style3 #loginform .submit{
  display: inline-block;
  padding-top: 15px;
  float: right;
}

.style3 #loginform .forgetmenot label{
  color: #aeaeae;
}

.style3 #loginform #wp-submit{
    background-color: #0077a4;
    padding: 9px 20px 9px 20px;
    color:#d1dadf;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.style3 #login #nav a, body.style3 #login #backtoblog a{
  color: #bdbdbd;
  margin-left: 25px;
}

/*****************Style 4/*****************/
body.style4{
  background-color: #f1f1f1;
  font-size: 13px;
  font-family: "Open Sans",sans-serif;
  min-width: 0;
}

body.style4 form#loginform{
  padding: 30px 25px 50px 25px;
  background-color: #f1f1f1;
  border: none;
  border-radius: 0px;
}

body.style4 #login h1 {
  text-align: center;
}

body.style4 #login h1 a {
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
    height: 84px;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 auto 25px;
    padding: 0;
    width: 84px;
    text-indent: -9999px;
    outline: 0;
    display: block;
}

.style4 #loginform p:nth-child(1), .style4 #loginform p:nth-child(2){
 font-size: 14px;
 font-family: "Open Sans",sans-serif;
 font-weight: bold;
}

.style4 #loginform .input{
  height: 40px;
  width: 270px;
  border: 1px solid #e6e6e6;
}

.style4 #loginform .forgetmenot{
  display: inline-block;

}
.style4 #loginform .submit{
  display: inline-block;
  padding-top: 15px;
  float: right;
}

.style4 #loginform .forgetmenot label{
  color: #aeaeae;
}

.style4 #loginform #wp-submit{
    background-color: #0077a4;
    padding: 9px 20px 9px 20px;
    color:#d1dadf;
    font-size: 14px;
    font-family: "Open Sans",sans-serif;
}

.style4 #login #nav a, body.style4 #login #backtoblog a{
  color: #bdbdbd;
  margin-left: 25px;
}