/**
 * @link              http://averta.net
 * @since             1.0.0
 * @package           Wp Login Form
 */

span.avlo_div_txt{
	float: left;
	font-size: 22px;
}
#avlo_design_tab_avlo_log_wid_,#avlo_design_tab_avlo_log_hei_,#avlo_design_tab_avlo_log_radius_{
	width: 60px;
}
